<p id="notice"><%= notice %></p>


<p>
  <strong>Level:</strong>
  <%= @registration.level.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @registration.student.name %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
