<h1> Matricula IPV</h1>
<th> <%= link_to 'Nuevo Usuario', new_user_path %></th> 
<br>
<th> <%= link_to 'Matricular', new_registration_path %></th>
<br>
<th> <%= link_to 'Nueva Clase', new_course_path %></th>
<br>
<th> <%= link_to 'Nuevo Nivel', new_level_path %></th>
<br>
<th> <%= link_to 'Nuevo Estudiante', new_student_path %></th>
<br>


