<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

   <div class="field">
    <%= f.label :course_id %><br>
    <select name="level[course_id]">
      <% Course.all.each do |c| %>
        <option value="<%= c.id %>"><%= c.name %></option>
      <% end %>
    </select>

   <div class="field">
    <%= f.label :course_id %><br>
    <select name="level[course_id]">
      <% Course.all.each do |a| %>
        <option value="<%= a.id %>"><%= a.name %></option>
      <% end %>
    </select>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 