<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @level.name %>
</p>

<p>
  <strong>Clase 1:</strong>
  <%= @level.course.name %>
</p>

<p>
  <strong>Clase 2:</strong>
  <%= @level.course.name %>
</p>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
